.App {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh;
    padding: 20px;
    margin: auto;
}

.App > .card {
     margin: 10px auto;
}
